<div class="mb-3">
  <label for="filterText" class="form-label">Marka ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="arama ifadesi giriniz"
  />
</div>

<div *ngIf="filterText" class="alert alert-primary">
{{filterText}} aradınız
</div>

<select class="form-select" aria-label="Default select example" [(ngModel)]="selectedText">
  <option selected>Marka seçiniz</option>
  <option *ngFor="let brand of brands" id="selectedText">{{brand.name}}</option>
  
</select>

<div *ngIf="selectedText" class="alert alert-info">
{{selectedText}} seçtiniz
</div>

<ul *ngIf="dataLoaded == true" class="list-group mt-2">
  <li
    [class]="getAllBrandClass()"
    (click)="cleanCurrentBrand()"
    routerLink="/brands"
  >
    Tüm Markalar
  </li>
  <li
    (click)="setCurrentBrand(brand)"
    *ngFor="let brand of brands | brandFilter:filterText"
    [class]="getCurrentBrandClass(brand)"
    routerLink="/cars/brand/{{ brand.id }}"
  >
    {{ brand.name }}
  </li>
</ul>
<h5 *ngIf="currentBrand">{{ currentBrand.name }} seçtiniz</h5>

<button *ngIf="currentBrand" class="btn btn-primary mt-2" routerLink="brands/update/{{currentBrand.id}}">Güncelle</button>
