<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Renk Güncelle</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="colorUpdateForm">
            <div class="mb-3">
              <div class="form-group">
                <label for="name">Renk Adı</label>
                <input type="text" class="form-control" formControlName="name" id="name" placeholder="Renk Adı">
              </div>
            </div>
          </form>
        </div>
  
        <div class="card-footer">
          <button class="btn btn-primary" (click)="update()">Güncelle</button>
        </div>
      
      </div>
    </div>
  </div>
  
























